<div class="login-status-header">

    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <div *ngIf="auth.user$ | async as user" class="login-status-user-info">
            Welcome back {{ user.name }}!
        </div>
        <button class="security-btn" (click)="auth.logout({ logoutParams: { returnTo: 'http://localhost:4200' } })">
            Log out
        </button>
        <button routerLink="/members" class="security-btn ml-1">Member</button>
    </ng-container>

    <ng-template #loggedOut>
        <button class="security-btn" (click)="auth.loginWithRedirect()">Log in</button>
    </ng-template>

</div>