<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>

                    <div class="row">
                        <div class="col-md-2"><label>First name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Last name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"><span>Country</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Street</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>City</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>State</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Zip Code</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-space">
                    <label class="au-checkbox">
                        <input (change)="copyShippingAddressToBillingAddress($event)" type="checkbox">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"><span>Country</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Street</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>City</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>State</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Zip Code</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"><span>Card type</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Name on card</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Card Number</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Security Code</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Expiration month</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creaditCardMonths">{{ month }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><span>Expiration year</span></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creaditCardYears">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3>Review your order</h3>

                    <p>Total quantity: {{ totalQuantity }}</p>
                    <p>Shipping: FREE</p>
                    <p>Total price: {{ totalPrice }}</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>

        </div>
    </div>
</div>